<head>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/8988a48e61.js" crossorigin="anonymous"></script>
</head>
<nav>
    <button onclick={window.history.back()}> Back </button>
    <a href="/"><i class="fa-solid fa-house"></i></a>
</nav>
<section class="artists">
<% for(let key in body.artists) { %> 
    <% if (key === 'items') { %> 
        <% body.artists[key].forEach(item => { %>
            <% if(item.images[0]) { %>
                <div class="album-container">
                    <h1 class="album-name"><%- item.name  %> </h1>
                    <img src="<%- item.images[1].url %>" alt="" class="album-img">
                    <a href="/albums/<%- item.id %> " class="link"> View Albums </a>
                </div>
            <% } %>
        <% }) %>
    <% } %>  
<% } %> 
</section>

