<div class="search-container">
    <div class="intro">
        <h1 class="home-title"> Take 10 </h1>
        <h2 class="title subtitle"> Music Break </h2>
        <div class="form-container">
            <form action="/artist-search" method="GET" class="form">
                <label for="artist-name"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input type="text" id="artist-name" name="artist-name" class="form-input">
                <button class="btn form-btn" type="submit" > Go </button>
            </form>
        </div>
        <p>Plan your 10 minutes break with the best Music</p>
    </div>  
</div>